{% extends "layout.html" %}

{% block body %}

<div class="app">
    <h2>Enter strings to compare</h2>
    <form action="/score" method="POST">
        <div>
            <input type="text" class="form-control" name="string1" value = "string one">
        </div>
        <div>
            <input type="text" class="form-control" name="string2" value = "string two">
        </div>
        <div class="col order-1">
            <input type="submit" name="job" value = "Process">
        </div>
    </form>
</div>

{% endblock %}
