/* stylepage for home page */
/* Keith R. Bergerstock */

body {
    background-color: #101020;
    height: 90%;
  }

  h1,h2 {
      color:orange;
      text-align: center;
  }

  p {
    color: sandybrown;
  }

  .grid-container {
    display: grid;
    grid-gap:16 px;
    grid-template-columns:520px 620px;
    grid-template-rows:200px 40px 400px;
    margin-left:6%;
 }

.item5{
  grid-column: 1;
  grid-row: 3;
}

.item6{
  grid-column: 2;
  grid-row: 3;
}
